/* Overrides for semantics headers  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', 'Public Sans', sans-serif !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
